* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: #252525;
    color: rgb(177, 167, 167);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    font-style: italic;
    margin-top: 50px;
}

.image-block {
    height: 350px;
}

.header {
    text-align: center;
    margin-bottom: 15px;
}

.carrousel-image {
    display: none;
    margin: auto;
    max-height: 300px;
}

.carrousel-image.active {
    display: block;
}

.controls {
    margin-top: 10px;
    text-align: center;
    margin: auto;
}

.controls .control-unit {
    padding: 0 70px;
    cursor: pointer;
}
